#footer {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	color: #ffff;
	padding: 2em 0;
  background-color: #232222;
}
#footer .location, #footer .contact, #footer .social-media {
	width: 100%;
	display: flex;
	align-items: center;
	margin: 1em 0;
}
#footer .location, #footer .contact {
  padding: 1em 0 2em 0;
  border-bottom: 1px solid #8c8080;
}
#footer .footer-list {
	width: 100%;
}
#footer .footer-list .footer-item {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 20px;
	padding: 0.5em 0;
}
#footer .footer-list .footer-item .link {
	display: flex;
	justify-content: center;
	color: #ffff;
}
#footer .footer-list .footer-item .link .icon {
	margin-right: 2em;
}
#footer .social-media .footer-list .footer-item .link {
	justify-content: center;
}
#footer .footer-list .footer-item .link .text {
	width: 6em;
}
#footer .footer-list .footer-item .link .border-move {
	border-bottom: 1px solid #ffff;
	transition: 0.5s;
}
@media only screen and (min-width: 992px) {
	#footer {
		justify-content: space-evenly;
		flex-direction: row;
	}
	#footer .location, #footer .contact, #footer .social-media {
		width: 33%;
		margin: 0;
	}
  #footer .location, #footer .contact {
    padding: 0;
    border: none;
  }
}
@media only screen and (min-width: 1200px) {
	#footer .footer-list .footer-item .link .icon {
		margin-right: 4em;
	}
}
