
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* End Fonts */
/* Libraries */
@import url('libraries/hamburgers.min.css');
/* End Libraries */
/* Files */
@import url('nav.css');
@import url('home/general.css');
@import url('contact/general.css');
@import url('recipes/general.css');
@import url('footer.css');
/* End Files */
/* General */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #292929;
}
#wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#preloader {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background-color: #292929;
  display: none;
}
#preloader img {
  display: none;
  width: 200px;
  height: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}
p, a, li, span, input, select, option {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
/* End General */
/* Cotainer */
.container {
  width: 100%;
}
/* End Container */

/* Border animation */
.link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
}
.border-move {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-width: 2px;
}
.link:hover .border-move {
  width: 100%;
}
.moving-box:hover .border-move {
  width: 100%;
}
#recipes-filter .list .list-item:hover .border-move {
  width: 100%;
}
/* End Border animation */
