#contact-wrapper .show {
  width: 100%;
  padding: 2em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#contact-wrapper .show .image-container {
  width: 80%;
  margin: 0 auto;
}
#contact-wrapper .show .image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
#contact-wrapper .show .text-container {
  width: 100%;
  display: flex;
  align-items: center;
}
#contact-wrapper .show .title {
  color: #ffff;
  margin: 2em 0 1em 0;
  text-align: center;
  font-size: 30px;
}
#contact-wrapper .show .text-container .text {
  color: #b1b1b1;
  width: 80%;
  margin: 0 auto;
  padding: 1em 2em 2em 2em;
  font-size: 18px;
  line-height: 38px;
  letter-spacing: 1px;
  padding: 2em 0;
  text-align: justify;
}

@media only screen and (min-width: 1200px) {
  #contact-wrapper .show {
    flex-direction: row;
    padding: 2em 2em;
  }
  #contact-wrapper .show .text-container .text {
    padding: 0 4em;
  }
}
