#contact-wrapper .show {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2em 0;
  justify-content: center;
  align-items: center;
}

#contact-wrapper .show .image {
  display: none;
}
#contact-wrapper .show .text-container {
  width: 100%;
}
#contact-wrapper .show .text-container .title {
  color: #ffff;
  margin: 2em 0 1em 0;
  text-align: center;
  font-size: 30px;
}
#contact-wrapper .show .text-container .text {
  color: #b1b1b1;
  width: 80%;
  margin: 0 auto;
  padding: 1em 2em 2em 2em;
  font-size: 18px;
}
@media only screen and (min-width: 992px) {
  #contact-wrapper .show .image-container {
    width: 50%;
    max-width: 650px;
    max-height: 450px;
  }
  #contact-wrapper .show .image {
    display: block;
    width: 100%;
    height: auto;
  }
  #contact-wrapper .show .text-container {
    width: 50%;
  }
}
