#presentation {
  padding: 2em 0em;
  min-width: 400px;
}
#presentation .box {
  width: 90%;
  margin: 0 auto;
}
#presentation .box-right {
  margin-top: 4em;
  padding-bottom: 2em;
}
#presentation .box .title{
  width: fit-content;
  font-size: 26px;
  color: #ffffff;
  border-left: 1px solid #fff;
  padding-left: 1em;
}
#presentation .box .text {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 2em;
  font-size: 18px;
}
#presentation .box .link-box {
  display: flex;
  margin-top: 2em;
}

#presentation .box .link-box .link {
  display: flex;
  width: fit-content;
  align-items: center;
  color: #ff4545;
  font-size: 15px;
}
#presentation .box .link-box .link .border-move {
  border-bottom: 1px solid #ff4545;
  transition: 1s;
}
#presentation .box .link-box .link:hover > .arrow-icon {
  transform: translate(0.5em, 0em);
}
#presentation .box .link-box .arrow-icon {
  margin-left: 0.5em;
  color: #ff4545;
  transition: 0.5s;
}
@media only screen and (max-width: 400px) {
  #presentation .box {
    width: 75%;
  }
  #presentation .box .title {
    font-size: 18px;
  }
  #presentation .box .text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  #presentation .box {
    width: 650px;
  }
  #presentation .box-left {
    margin-left: 4em;
  }
  #presentation .box-right {
    margin-right: 4em;
  }
  #presentation .box .title {
    font-size: 30px;
  }
  #presentation .box .text {
    font-size: 18px;
  }
  #presentation .box .link-box .link {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1500px) {
  #presentation .box-left {
    margin-left: 10em;
  }
  #presentation .box-right {
    margin-right: 10em;
  }
}
