@import url('slider.css');
@import url('first-section.css');
@import url('second-section.css');
@import url('third-section.css');
#home-wrapper {
  width: 100%;
  height: auto;
  transition: all 0.6s ease;
}
