#quotes {
	width: 100%;
	height: auto;
	padding: 2em 0;
}
#quotes .title {
	color: #ffff;
	font-size: 30px;
	text-align: center;
	width: 100%;
	padding-top: 2em;
}
#quotes .box-container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#quotes .box-container .box {
	width: 80%;
	height: auto;
	display: flex;
    align-items: center;
    flex-direction: column;
	background-color: #232222;
	padding: 2em;
	color: #ffff;
	margin: 2em 0;
}
#quotes .box-container .box .icon {
	font-size: 40px;
}
#quotes .box-container .box .text {
	margin-top: 2em;
	width: 350px;
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	color: rgba(255, 255, 255, 0.9);
}
#quotes .box-container .box .author {
	margin-top: 2em;
	font-size: 22px;
  font-weight: bold;
}
@media only screen and (min-width: 992px) {
	#quotes .box-container {
		flex-direction: row;
		justify-content: space-evenly;
		margin: 2em 0;
	}
	#quotes .box-container .box {
    width: 45%;
		max-width: 500px;
		padding: 2em 0.5em;
	}
  #quotes .box-container .box .author {
  }
}
