.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  position: absolute;
  z-index: 1;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #3d3c3c;
  padding: 30px;
  max-width: 90%;
  max-height: 90vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: right;
  align-items: center;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  color: #ffff;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}
.modal__content .image-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__content .image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 10px;
}
.modal__content .general-info, .modal__content .health-info, .modal__content .nutritional-info {
  padding: 1.5em 0;
}
.modal__content .nutritional-info {
  padding-bottom: 3em;
}
.modal__content .title {
  padding: 1em 0;
  color: #ffff;
  max-width: 300px;
}
.modal__content .subtitle {
  text-align: center;
  font-size: 20px;
  color: #ffff;
}
.modal__content .list-title {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}
.modal__content .list-item span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}
.modal__content .general-info .general-item {
  overflow: hidden;
  text-align: center;
}
.modal__content .general-info .general-item .list-item {
  margin-top: 20px;
}
.modal__content .health-info {
  float: right;
  padding: 1.5em 0;
}
.modal__content .health-info .health-item .list-item {
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 1.5em;
}
.modal__content .nutritional-info {
  width: 100%;
  height: auto;
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.modal__content .nutritional-info .nutritional-item {
  margin-top: 1.5em;
}
.modal__content .nutritional-info .nutritional-item .title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal__content .nutritional-info .nutritional-item .title-container .list-title, .modal__content .nutritional-info .nutritional-item .title-container .icon {
  width: 50%;
  text-align: center;
}
.modal__content .nutritional-info .nutritional-item .title-container .icon {
  color: rgba(255, 255, 255, 0.9);
}
.modal__content .nutritional-info .nutritional-item .list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.modal__content .nutritional-info .nutritional-item .list-container {
  height: 0;
  overflow: auto;
  transition: 0.5s ease all;
}
.modal__content .nutritional-info .nutritional-item .list-item .left, .modal__content .nutritional-info .nutritional-item .list-item .right {
  width: 50%;
  text-align: center;
}
/**************************\
  Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  @keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
  }

  @keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
  }

  .micromodal-slide {
    display: none;
  }

  .micromodal-slide.is-open {
    display: block;
  }

  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }

  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }

  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }

  @media only screen and (min-width: 992px) {
    .modal__content .image {
      margin: 0;
    }
    .modal__content .general-info {
      margin-bottom: 12em;
    }
    .modal__content .general-info .general-item .list-item {
      width: 50%;
      float: left;
      text-align: center;
    }
    .modal__content .general-info .general-item .list-title {
      margin-bottom: 0em;
    }
    .modal__content .nutritional-info, .modal__content .health-info, .modal__content .general-info, .modal__content .image-title-container {
      width: 50%;
      float: left;
    }
    .modal__content .general-info {
      padding: 1em 0;
      margin-bottom: 8em;
    }
    .modal__content .nutritional-info, .modal__content .health-info {
      padding: 0;
    }
  }
  @media only screen and (min-width: 1200px) {
    .modal__close {
      font-size: 25px;
    }
    .modal__content .nutritional-info .nutritional-item .title-container {
      padding: 0.5em 0;
    }
    .modal__content .general-info .general-item .list-item {
      margin-top: 2em;
    }
    .modal__content .nutritional-info .nutritional-item .title-container:hover {
      background-color: rgba(0,0,0,0.2);
    }
    .modal__content .title {
      font-size: 28px;
    }
    .modal__content .list-title {
      font-size: 18px;
    }
    .modal__content .list-item span {
      font-size: 16px;
    }
    .modal__content .health-info, .modal__content .nutritional-info {
      padding-bottom: 2em;
    }
  }
  @media only screen and (min-width: 1920px) {
    .modal__close {
      font-size: 35px;
    }
    .modal__content .general-info .general-item .list-item {
      margin-top: 5em;
    }
    .modal__content .title {
      font-size: 34px;
    }
    .modal__content .subtitle {
      font-size: 24px;
    }
    .modal__content .list-title {
      font-size: 20px;
    }
    .modal__content .list-item span {
      font-size: 18px;
    }
  }
