#recipes-filter {
	width: 100%;
	height: auto;
	padding: 2em 0;
	background-color: #292929;
}
#recipes-filter .title-container {
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
#recipes-filter .title-container .title {
	color: #ffff;
	font-size: 22px;
	text-align: center;
	border: 1px solid #ffff;
	width: fit-content;
	padding: 1em 2em;
	margin-bottom: 1em;
}
#recipes-filter .search-container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em 0;
}
#recipes-filter .search-container .search {
	padding: 1em 2em;
	text-align: center;
	font-size: 15px;
}
#recipes-filter .search-container .icon {
	color: #ffff;
	font-size: 24px;
	margin-right: 1em;
}
#recipes-filter .list {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#recipes-filter .list .list-item {
	margin-top: 1em;
	position: relative;
}
#recipes-filter .list .list-item .border-move {
	border-bottom: 2px solid #ff4545;
	transition: 1s;
	z-index: -1;
}
#recipes-filter .list .list-item .list-title {
	color: #ffff;
	margin-bottom: 1em;
}
#recipes-filter .list .list-item .select-wrapper {
	position: relative;
	user-select: none;
	width: 100%;
}
#recipes-filter .list .list-item .select {
	position: relative;
	width: 300px;
	display: flex;
	flex-direction: column;
	border-width: 0 2px 0 2px;
	border-style: solid;
	border-color: #394a6d;
}
#recipes-filter .list .list-item .selection-box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 22px;
	font-size: 16px;
	font-weight: 300;
	color: #3b3b3b;
	height: 60px;
	line-height: 60px;
	background: #ffffff;
	cursor: pointer;
	border-width: 2px 0 2px 0;
	border-style: solid;
	border-color: #394a6d;
}
#recipes-filter .list .list-item .custom-options {
	position: absolute;
	display: block;
	top: 100%;
	left: 0;
	right: 0;
	border: 2px solid #394a6d;
	border-top: 0;
	background: #fff;
	transition: all 0.5s;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	z-index: 2;
}
#recipes-filter .list .list-item .select.open .custom-options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}
#recipes-filter .list .list-item .option-box {
	position: relative;
	display: block;
	padding: 0 22px 0 22px;
	font-size: 16px;
	font-weight: 300;
	color: #3b3b3b;
	line-height: 60px;
	cursor: pointer;
	transition: all 0.5s;
}
#recipes-filter .list .list-item .option-box:hover {
	cursor: pointer;
	background-color: #b2b2b2;
}
#recipes-filter .list .list-item .option-box.selected {
	color: #ffffff;
	background-color: #305c91;
}

/* Arrow */
#recipes-filter .list .list-item .arrow {
	position: relative;
	height: 15px;
	width: 15px;
}
#recipes-filter .list .list-item .arrow::before, .arrow::after {
	content: "";
	position: absolute;
	bottom: 0px;
	width: 0.15rem;
	height: 100%;
	transition: all 0.5s;
}
#recipes-filter .list .list-item .arrow::before {
	left: -5px;
	transform: rotate(45deg);
	background-color: #394a6d;
}
#recipes-filter .list .list-item .arrow::after {
	left: 5px;
	transform: rotate(-45deg);
	background-color: #394a6d;
}
#recipes-filter .list .list-item .open .arrow::before {
	left: -5px;
	transform: rotate(-45deg);
}
#recipes-filter .list .list-item .open .arrow::after {
	left: 5px;
	transform: rotate(45deg);
}
@media only screen and (min-width: 768px) {
	#recipes-filter .search-container .search {
		width: 400px;
		font-size: 18px;
	}
	#recipes-filter .list {
		flex-direction: row;
		justify-content: space-evenly;
	}
	#recipes-filter .list .list-item .select {
		width: 150px;
	}
}
@media only screen and (min-width: 992px) {
	#recipes-filter .search-container .search {
		width: 600px;
	}
	#recipes-filter .list .list-item .select {
		width: 200px;
	}
}
@media only screen and (min-width: 1200px) {
	#recipes-filter .search-container .search {
		width: 800px;
	}
	#recipes-filter .list .list-item .select {
		width: 250px;
	}
}
@media only screen and (min-width: 1920px) {
	#recipes-filter .list .list-item .select {
		width: 350px;
	}
}
