@import url("filter.css");
@import url("recipes-box.css");
@import url("pagination.css");
#recipes-wrapper {
  width: 100%;
  height: auto;
  transition: all 0.6s ease;
}
#add-recipe .modal__container {
  width: 90%;
  min-height: 90vh;
}
#add-recipe .modal__container .modal__content {
  min-height: 75vh;
}
#add-recipe .modal__container .user-response {
  width: 100%;
  min-height: 75vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
#add-recipe .modal__container .user-response .text {
  font-size: 28px;
  color: #ffff;
  text-align: center;
  font-weight: bold;
}
