#page-change {
  width: 100%;
  height: auto;
}
#page-change .page-change-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 0;
}
#page-change .page-change-container .prev-page, #page-change .page-change-container .next-page {
  font-size: 40px;
  cursor: pointer;
  color: #ffff;
  width: 1em;
  text-align: center;
}
#page-change .page-change-container .prev-page:hover, #page-change .page-change-container .next-page:hover {
  color: #ff4545;
}
#page-change .page-change-container .pagination-container {
  width: 250px;
  text-align: center;
  margin: 0 2em;
}
#page-change .page-change-container .pagination-container .prev, #page-change .page-change-container .pagination-container .current, #page-change .page-change-container .pagination-container .next {
  color: #ffff;
  margin: 0 0.8em;
  transition: all 0.5s ease;
}
#page-change .page-change-container .pagination-container .prev, #page-change .page-change-container .pagination-container .next {
  font-size: 18px;
}
#page-change .page-change-container .pagination-container .current {
  font-size: 30px;
  font-weight: bold;
}
.dominant-page {
  font-size: 30px!important;
  font-weight: bold!important;
}
.submissive-page {
  font-size: 18px!important;
  font-weight: normal!important;
}
