#recipes-box {
  width: 100%;
  height: auto;
  padding: 2em 0;
  overflow: hidden;
  background-color: #232222;
}
#recipes-box .no-recipes-search {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#recipes-box .no-recipes-search .text {
  color: #ffff;
  font-size: 26px;
  font-weight: bold;
}
#recipes-box .box-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 1em;
}
#recipes-box .box-container .box {
  position: relative;
  width: 85%;
  max-width: 300px;
  height: auto;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 2em;
}

#recipes-box .box-container .box .image-container {
  position: relative;
  width: 100%;
  height: auto;
  cursor: pointer;
  background-color: #ffff;
}
#recipes-box .box-container .box .image-container .image {
  width: 100%;
  height: auto;
  transition:all 0.5s ease-in-out;
}
#recipes-box .box-container .box .image-container:hover > .image {
  filter: brightness(0.2);
}
#recipes-box .box-container .box .image-container:hover > .calories-container {
  opacity: 1;
}
#recipes-box .box-container .box .image-container:hover > .calories-container .calories {
  left: calc(50% - 86px / 2);
}
#recipes-box .box-container .box .image-container .calories-container {
  opacity: 0;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-in;
}
#recipes-box .box-container .box .image-container .calories-container .calories {
  position: absolute;
  left: 0;
  font-size: 22px;
  color: #ffff;
  transition: all 0.8s ease-out;
}
#recipes-box .box-container .box .data-container {
  width: 100%;
  background-color: #ffff;
}
#recipes-box .box-container .box .data-container .title {
  height: 3.6em;
  overflow: hidden;
  padding: 0.5em 0.6em;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
}
#recipes-box .box-container .box .data-container .data-box-container {
  display: flex;
  flex-direction: column;
  padding: 0 1em 1em 1em;
}
#recipes-box .box-container .box .data-container .data-box-container .data-box {
  margin-top: 0.5em;
  color: #716363;
  font-size: 13px;
}
#recipes-box .box-container .box .data-container .data-box-container .data-box .icon {
  margin-right: 0.5em;
}
#recipes-box .box-container .box .functions-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #292929;
}
#recipes-box .box-container .box .functions-box .add-container-global {
  width: 100%;
  display: flex;
}
#recipes-box .box-container .box .functions-box .add-container-global .add-container {
  width: 50%;
}
#recipes-box .box-container .box .functions-box .add-container-global .add-container .link {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 0.5em;
}
#recipes-box .box-container .box .functions-box .function-container {
  width: 100%;
}
#recipes-box .box-container .box .functions-box .function-container .link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0.5em;
  font-size: 16px;
}
#recipes-box .box-container .box .functions-box .function-container .link .icon {
  margin-right: 1em;
}
#recipes-box #add-plan .link .icon {
  color: #55d555;
}
#recipes-box #add-fav .link .icon {
  color: #ff4545;
}
#recipes-box #know-more .link .icon {
  color: #eaa017;
}
#recipes-box #add-plan .link, #recipes-box #add-fav .link, #recipes-box #know-more .link {
  color: #ffff;
  letter-spacing: 0.5px;
  transition: all 0.5s ease;
  font-weight: bold;
  font-size: 14px;
}
#recipes-box #add-plan .link:hover, #recipes-box #add-fav .link:hover, #recipes-box #know-more .link:hover {
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (min-width: 500px) {
  #recipes-box .box-container {
    width: 50%;
  }
  #recipes-box .box-container .box .data-container .title {
    font-size: 18px;
  }
  #recipes-box #add-plan .link, #recipes-box #add-fav .link, #recipes-box #know-more .link {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {

  #recipes-box .box-container {
    width: 33.3%;
    height: 32.5em;
  }
  #recipes-box .box-container .box {
    height: 30em;
  }
  #recipes-box .box-container .box:hover {
    height: 30.5em;
  }
  #recipes-box .box-container .box .data-container .data-box-container {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  #recipes-box .box-container .box:hover > .data-container .data-box-container {
    height: 6.5em;
    padding: 0 0 0 1em;
  }
  #recipes-box .box-container .box .data-container .data-box-container .data-box {
    font-size: 15px;
  }
}
@media only screen and (min-width: 992px) {
  #recipes-box .box-container {
    width: 33.3%;
    height: 38em;
  }
  #recipes-box .box-container .box {
    height: 29.3em;
  }
  #recipes-box .box-container .box:hover {
    height: 35.5em;
  }
  #recipes-box .box-container .box .data-container .title {
    font-size: 22px;
  }
  #recipes-box #add-plan .link, #recipes-box #add-fav .link, #recipes-box #know-more .link {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  #recipes-box .box-container {
    width: 25%;
    height: 37em;
  }
  #recipes-box .box-container .box {
    height: 27em;
  }
  #recipes-box .box-container .box:hover {
    height: 33.5em;
  }
  #recipes-box .box-container .box .data-container .title {
    padding: 0.1em 0 0 0.5em;
    font-size: 20px;
    height: 3.2em;
  }
  #recipes-box .box-container .box .data-container .data-box-container .data-box {
    font-size: 14px;
  }
  #recipes-box #add-plan .link, #recipes-box #add-fav .link, #recipes-box #know-more .link {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1920px) {
  #recipes-box .box-container {
    width: 20%;
  }
  #recipes-box .box-container .box .data-container .title {
    font-size: 20px;
    padding: 0 0.6em;
  }
  #recipes-box .box-container .box .data-container .data-box-container .data-box {
    font-size: 15px;
  }
  #recipes-box #add-plan .link, #recipes-box #add-fav .link, #recipes-box #know-more .link {
    font-size: 15px;
  }
}
